{% extends 'base.html.twig' %}

{% block title %}Hello PortfolioController!{% endblock %}

{% block index %}
<style>
    .example-wrapper { margin: 1em auto; max-width: 800px; width: 95%; font: 18px/1.5 sans-serif; }
    .example-wrapper code { background: #F5F5F5; padding: 2px 6px; }
</style>

<div class="example-wrapper">
    <h1>My Portfolio</h1>
    <h2>Muronaga Masato</h2>

    <h2><a href="{{ path('about_index') }}">概要</a></h2>
    <h2><a href="{{ path('skills_index') }}">技術</a></h2>
    <h2><a href="{{ path('works_index') }}">制作物</a></h2>
    <h2><a href="{{ path('blog_index') }}">ブログ</a></h2>
    <h2><a href="{{ path('links_index') }}">リンク</a></h2>
</div>
{% endblock %}
